.popup {
  display: none; /* убрать после реализации открытия popup */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgb(0,0,0,.5);
  width: 100%;
}