.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity .3s ease-in-out;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    margin-top: 36px;
  }
}