.popup__field-about {
  width: 100%;
  height: 27px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0;
}