.profile__fields {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  align-items: center;
  padding-left: 30px;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .profile__fields {
    padding-left: 0;
  }
}